/* Global Styles */

.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(126, 90, 172);
   color:black;
   text-align: center;
}
div.New_Patient{
  background-color: rgb(196, 196, 247);
}
div.AcceptOrReject{
  align-self: center;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
div.patientDesc{
  background-color: rgba(255, 255, 255, 0.884);
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
