img.photo{
  border: 2px solid blue;
}
p {
  font-family: Lato;
}
button{
  height: 20;
  width: 13;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(0, 217, 255);
   color:black;
   text-align: center;
}

